[Desktop Entry]
Name=pcalc express
Comment=Programmer-focused expression calculator
Exec=run-rnd-pcalc-ng
Icon=com.rnd.pcalc_ng
Terminal=false
Type=Application
Categories=Utility;Calculator;
StartupNotify=true
